:root{
    --orange-color:#da722c;
    --dark-blue-color:#023047;
    --dark-color:#070917;
    --light-color:#E8F7FB;
    --light-blue-color:#6F7DFB;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Poppins",sans-serif;
}
.wrapper{
    max-width: 1134px;
    margin: 0 auto;
}
/* Buttons start */
.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-decoration:none;position: relative;
}
.btn.dark{
     background: var(--dark-blue-color);
}
.btn.light{
    background: var(--orange-color);
}
.btn.enrol-icon::before{
   content: url('./images/PencilAlt.png');
   position: absolute;
   top: 50%;
   left: 32px;
   transform: translateY(-50%);
}
.btn.enrol-icon{
    padding-left: 60px;
}
/* Buttons end */

/* Header start */
     header{
        background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
        height: 100vh;
        width: 100%;
     }
     nav{
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 1134px;
        top: 36px;
        z-index: 100;
     }
     nav .logo{
        color: #FFFFFF;
        font-family:"Raleway",sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        align-items: center;
     }
     nav ul{
        display: flex;
        align-items: center;
        gap: 60px;
        list-style: none;
        margin: 0;
     }
     nav ul li a{
        color: #FFFFFF;
        font-family:"Poppins",sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
/* Header end */

/* Hero section start */
   .hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
   }
  .hero-section .left h1{
    color: #FFFFFF;
    font-family:"Raleway",sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 125%; 
  }

/* Hero section end */

/* Achievement cards */
    .achievement-cards{
        display: none;
    }